---
layout: default
title: Blog
permalink: /es/blog/
lang: es
og_description: Mantente al día sobre las actualizaciones del proyecto en el Blog
---

<ul>
  {% assign es_posts = site.posts | where: 'lang', 'es' %}
  {% for post in es_posts %}
  {% include date.html date=post.date %}
    <li class="mb-4">
      <a href="{{ post.url }}" class="text-blue-500 hover:underline text-2xl font-semibold">
        {{ post.title }}
      </a>
      <p class="text-gray-600 text-sm dark:text-gray-400">{{ day }} {{ month }} {{ year }}</p>
      <p class="mt-2 text-gray-700 dark:text-gray-400">
        {{ post.excerpt }}
      </p>
      <a href="{{ post.url }}" class="text-blue-500 hover:underline">Leer más →</a>
    </li>
  {% endfor %}
</ul>
