---
layout: default
title: Cascade Collab - Ilustración
lang: es
fullwidth: true
---

<section class="text-center">
    <h1 class="text-4xl font-bold">La Ilustración</h1>
    <p class="mt-4 text-gray-700 dark:text-gray-300">
        Una colaboración que presenta los estilos de múltiples artistas.
    </p>
    <p class="mt-4 text-gray-700 dark:text-gray-300">
        Puedes usar el botón ▶️ Reproducir en la esquina inferior izquierda para reproducir la animación.<br>
        <b>Por favor, para una mejor experiencia, no deslices la pantalla mientras la animación 
            se está reproduciendo.</b><br>
        Puedes pausarla en cualquier momento pulsando el botón de nuevo.
    </p>

    <div class="mt-8 relative bg-sky-200 dark:bg-gray-800">
        <div id="artwork-container" class="flex flex-col items-center opacity-0 transition-opacity duration-1000">
            {% assign artworks = site.data.artwork %}
            {% for artwork in artworks %}
            <div class="relative w-full">
                {% for character in artwork.characters %}
                    <!-- Floating Label -->
                    <div class="absolute text-black char-info-label bg-white/80 dark:text-white dark:bg-black/80 text-sm p-3 rounded shadow-md"
                        style="width: max-content;"
                        data-position-desktop-top="{{ character.position.desktop.top }}"
                        data-position-desktop-left="{{ character.position.desktop.left }}"
                        data-position-mobile-top="{{ character.position.mobile.top }}"
                        data-position-mobile-left="{{ character.position.mobile.left }}">
                                    
                    <p class="text-xs text-gray-600 dark:text-gray-300">{{ character.franchise }}</p>
                    <p class="font-bold">{{ character.name }}</p>
                    <p class="text-sm">by {{ character.artist.name }}</p>

                    <!-- Social Media Links -->
                    <div class="flex gap-2 mt-1">
                        {% for social in character.artist.socials %}
                        <a href="{{ social.link }}" target="_blank" onclick="pauseArtworkAnimation()">
                            <img src="{{ '/assets/img/' | append: social.platform | append: '.png' }}" 
                                alt="{{ social.platform }} icon" class="w-8 h-8">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <!-- Artwork Image -->
                <img src="{{ '/assets/artwork/' | append: artwork.image }}" 
                     class="w-full">
            </div>
            {% endfor %}
        </div>
    </div>
    <h1 class="text-4xl font-bold mt-4">¡Gracias por verlo!</h1>
    <p id="thank-you" class="mt-4 text-gray-700 dark:text-gray-300">
        Puedes descargarte la imagen completa <a class="text-blue-500 hover:underline" target="_blank" href="/assets/artwork/full.png">aquí</a><br>
        Referencia base obtenida de: <a class="text-blue-500 hover:underline" target="_blank" href="https://www.deviantart.com/ririkaze/art/Durarara-ED-Trust-Me-Base-163252995">Durarara ED Trust Me Base by ririkaze</a>
    </p>
    <button id="scroll-music-btn" class="fixed bottom-4 left-4 bg-blue-500 hover:bg-blue-600 dark:bg-blue-900 text-white px-4 py-2 
    rounded-full shadow-lg flex items-center gap-2 transition">
        <span id="scroll-music-text">▶️ Reproducir</span>
    </button>

</section>
