@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: light dark;
}

#artwork-container img {
    display: block; /* Removes gaps */
    width: 100%; /* Ensures full width */
    margin: 0; /* No gaps between images */
    padding: 0;
}

.post-content a {
    color: var(--color-blue-500);
}

.post-content a:hover {
    text-decoration: underline;
}